@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Kavoon&display=swap");

/* * RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* * GENERAL */

:root {
  --primary-color: #051a99;
  --secondary-color: rgb(236, 236, 236);
  --tertiary-color: #9c0f20;
  --padding: 20px;
  --border-radius: 10px;
  --main-font: "Genos";
  --heading-font: "Kavoon";
}

body {
  background-image: url("../img/union_jack2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  /* border: solid green; */
  margin: 20px auto;
  padding: var(--padding);
  width: 80%;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(5, 5, 10, 0.5);
  font-size: 1.2em;
}

.welcome-section {
  text-align: center;
  margin: 20px;
}

.main-title {
  color: var(--primary-color);
  font-size: clamp(2em, 3vw, 40px);
}

.spice-up-title {
  color: var(--tertiary-color);
  margin-block: 20px;
  text-align: center;
}

.content-section div {
  padding: 5px;
  margin: 10px;
}

.content-section h3 {
  color: var(--primary-color);
}
